// Define variables for your color scheme

// White for background
// alabaster for text box background
// light green for bigger objects with color
// green for small objcts (primary color, buttons etc)
// pink for attention, just small amounts

// For example:
$white: #FCF7F7;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #49A04E;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FCF7F7;
$alabaster: #E2F3E5;
$light-green: #D8F0D5;
$pink: #BE4A66;

