// Import Google fonts


// Define fonts for body and headers
$body-font: "raleway", "Helvetica", "sans-serif";
$headers-font: 'raleway', "Helvetica", "sans-serif";

.logo {
  font-family: 'Lobster Two', cursive;
  color: #BE4A66;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
