// Specific CSS for your home-page
.banner {
  background-image: url("https://www.dasinsurance.co.uk/getmedia/68b632a6-9eb5-45e0-b474-a51ddd738e04/iStock-612227320-min.jpg");
  background-size: cover;
  height: 736px;
}

.container-home {
  padding: 15px;
  color: white;
}

.search-bar {
  width: 250px;
justify-content: center;
}

.search {

}
