// Specific CSS for your home-page
.banner {
  background-image: url("https://i.pinimg.com/originals/a6/14/89/a61489795fdcebc376112cd24a75d76c.jpg");
  background-size: cover;
  height: 736px;
}

.container-home {
  padding: 15px;
}

.logo-home {
  padding-top: 200px;
  padding-bottom: 100px;
  opacity: .9;
}

.checkboxjs {
p{
  padding-left: 23px;
}

}

.search-bar {
  width: 300px;
  position: relative;
  padding-left: 70px
}

.search button {
  position: absolute;
  right: 100px;
  top: 505px;
}

.cat-icon {
  height: 68px;
  padding-left: 3px;
  opacity: .7;
}

.selected {
  box-shadow: inset 1px 1px 1px 2px #ccc;
  opacity: 1;
}

.hidden {
  opacity: 0;
}


