.profile-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;

  .name {
    font-weight: 400;
  }

  .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  }
}



.js-tabs{
  width: 100%;
  padding-bottom: 0 !important;
  position: relative;
}
.tabs-header {
  display: flex;
  justify-content: left;
  background-color: $pink;
  border-radius: 8px;
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 31px;
  .tab {
    margin: 10px 7px;
    color: white;
    min-width: 90px;
    transition: all 0.5s;
    border-radius: 6px;
    padding: 5px;
    text-align: center;

  }
}

.tab-content{
  position:absolute;
  width:100%;
  height: auto;
  transition: left 1s;
  padding: 5%;
  padding-bottom: 0px;
  overflow: scroll;
  -ms-overflow-style: none;  // IE 10+
  &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
  }

  a {
    color: black;
  }

  a:hover {
    color: $pink;
  }
}
.tab-content.tab-selected{
  left: 0px;
}
.tab.tab-selected{
  background-color: white;
  color: #333;
  height: 100%;
}
