

.show-container {
  background-color: white;
  padding: 15px;
  margin: 0px;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    font-size: 15px;
  }

  h4 {
    opacity: .9;
    font-weight: bolder;
  }

.show_info {
  display: flex;
  overflow: hidden;
  // align-items: space_between;
  // justify-content: space_between;

    .review-number {
    font-size: 12px;
    opacity: 0.8;
    font-weight: 300;
  }
  .facility_details {
    padding-right: 5px;
    min-width: 184px;
  }
}

  .review-box {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
    border-radius: 6px;

    p {
      font-size: 14px;
    }
    img {
      height: 50px;
      width: 65px;
      margin-bottom: 16px;
    }

    .reviewer {
      font-size: 12px;
      font-weight: 300;
      opacity: 0.8;
    }

    .review-icons {
      color: $pink;
      font-size: 16px;
    }
  }
}

.back-btn .fa-arrow-circle-left {
  font-size: 30px;
  color: $pink;
  opacity: .9;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  border-radius: 50%;
}


.back-btn {
  width: 100vw;
  position: sticky;
  bottom: 38px;
}

.review-btn {
  padding: 10px;
  padding-left: 37%;
  display: flex;
  justify-item: center;
  background-color: $pink;
  border-radius: 12px;
  color: white;
}

.show-name {
  margin-bottom: 25px;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 10px;

}



