

.show-container {
  background-color: white;
  padding: 10px;
  margin: 0px;

  ul {
    list-style-type: none;
  }

  i {
    font-size: 14px;
  }

  .show_info {
    display: flex;
    overflow: hidden;
    align-items: space_between;
  }


  .review-box {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    margin-right: 0;
    margin-left: 0;

    p {
      font-size: 14px;
    }

    .reviewer {
      font-size: 12px;
      font-weight: 300;
      opacity: 0.8;
    }
  }
}

.back-btn .fa-arrow-circle-left {
  font-size: 30px;
  color: $pink;
  opacity: .9;
  margin-top: 640px;
  margin-left: 15px;
}

.back-btn {
  position: sticky;
  bottom: 30px;
  left: 30px;
}


