.show-container {
  background-color: white;
  padding: 10px;
  margin: 0px;
  ul {
    list-style-type: none;
  }


  i {
    font-size: 12px;
  }

  .checked {
  color: orange;
}

  .review-box {
    background-color: $alabaster;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
  }



}


