<div class="container-nav">

    <li class="burger dropdown" >
      <img class="avatar dropdown-toggle" id="openSlideOut" src="https://cdn3.iconfinder.com/data/icons/menu-icons-1/100/menu-512.png"/>
    </li>

</div>


<nav id="menu">
  <header>
    <!-- <h2>Menu</h2> -->
    <div id="closeSlideOut">

    </div>
    <ul>
      <li>
        Hello Inou!
      </li>
    </ul>
  </header>
</nav>
