<div class="container-nav">

    <div class="burger dropdown" >
      <img class="avatar dropdown-toggle" id="openSlideOut" src="https://cdn3.iconfinder.com/data/icons/menu-icons-1/100/menu-512.png"/>
    </div>

</div>


<nav id="menu">
  <header>
    <!-- <h2>Menu</h2> -->
    <div id="closeSlideOut">

    </div>
    <ul>
      <li>
        <%= current_user.email %>
      </li>
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" alt="">
      </li>
      <li>
        <%= link_to "Home", root_path  %>
      </li>
    </ul>
  </header>
</nav>
