<div class="container-nav">

    <div class="burger dropdown" >
      <img class="avatar dropdown-toggle" id="openSlideOut" src="https://cdn3.iconfinder.com/data/icons/menu-icons-1/100/menu-512.png"/>
    </div>

</div>


<nav id="menu">
  <header>
    <div id="closeSlideOut">

 </div>
 <div class="slide-content">
  <% if current_user.present? %>
    <ul>
      <li>
        <%= current_user.email %>
      </li>
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" alt="">
      </li>
      <li>
        <%= link_to "Home", root_path  %>
      </li>
      </ul>

      <% else %>
      <h3>Welcome to Famtravel</h3>
      <p><%= link_to "Log in", new_user_session_path  %></p>
      <% end %>
      </div>

  </header>
</nav>
