
<div class="container">
  <div class="container-about">

    <h2>Famtravel</h2>
    <br>

    <p>Famtravel is a community for parents wishing to share tips about travelling with children. Ever spent a day in new city with kids who are getting tired of sightseeing and need a break at a playground? Or wondered how to find a child-friendly restaurant that offers more than nuggets and fries for the younger customers? How about when your daughter urgently needs to go to the toilet? Would be really nice to know where is the closest public toilet that is actually clean enough for a child to use, right?</p>

    <p>It's all about sharing, so please reveal your secrets about the best activities, restaurants, playgrounds and of course the always so important toilets. And write a review when you like (or dislike) something that you find in Famtravel. Your feedback will be appreciated by other parents!</p>

    <div class="thank">

    <h4>Thank you!</h4>

    <%= image_tag('smiling_boy.jpg', class: "avatar-about") %>



    </div>
  </div>

</div>
