<div class="banner">
  <div class="container-home">
    <div class="logo-home">
      <h1>Famtravel</h1>
    </div>

    <!-- search -->
    <div class="search">
      <% cat = Category.all %>
      <%= simple_form_for :search, url: search_path do |f| %>
      <%= f.input :category, as: :check_boxes, collection: cat, wrapper: :vertical_collection_inline %>
      <div class="search-bar"><%= f.input :keyword, label: "What city you are travelling?" %></div>
      <button type="submit"><i class="fa fa-search"></i></button>
      <% end %>
    </div>

  </div>
</div>
