<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- search -->

<%= simple_form_for [@facility, @facility_category] do |f| %>
<%= f.input :city %>
<%= f.association :facility_category, as: :radio_buttons %>
<%= f.submit "search", class: "btn btn-primary" %>
<% end %>
