<div class="banner">
  <div class="container-home">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="logo-home"><h1>Famtravel</h1></div>
        <div class="form-search">

          <%= simple_form_for :search, method: :get, url: facilities_path do |f| %>




          <div class="search-bar">
            <% @cities = City.all %>
            <%= f.input :city_id, collection: @cities, label: false, prompt: "Where are you travelling?" %>
            <%#= f.input :keyword, label: "Where are you travelling to?" %>
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>


</script>
