<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- search -->
<% cat = Category.all %>
<%= simple_form_for :search, url: facilities_path, method: :get do |f| %>
<%= f.input :keyword, label: "What city you are travelling?" %>
<%= f.input :category, collection: cat, include_blank: false %>
<%= f.submit "search", class: "btn btn-primary" %>
<% end %>

