<div class="container">
  <div class="home-top-wrap">
    <h1 class="home-logo">
      The best tips from one parent to another
    </h1>
    <h5>
      Find kid's friendly places and facilities near you
    </h5>
  </div>
    <div class="form-search">
      <%= simple_form_for :search, method: :get, url: facilities_path do |f| %>

        <div class="search-bar">
          <% @cities = City.all %>
          <%= f.input :city_id, collection: @cities, label: false, prompt: "Where are you travelling to?" %>
          <%#= f.input :keyword, label: "Where are you travelling to?" %>

        <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>


        </div>

      <% end %>



    </div>
  </div>
  <div class="home-image"></div>
</div>
<script>


</script>
