<div class="home-container">
  <div class="home-top-wrap">
    <h1 class="home-logo">
      Famtravel
    </h1>
    <h5>
      For travelling families
    </h5>
    <p>
      "The best tips from one parent to another"
    </p>
  </div>
    <div class="form-search">
      <%= simple_form_for :search, method: :get, url: facilities_path do |f| %>


        <div class="search-bar">
          <% @cities = City.all %>
          <%= f.input :city_id, collection: @cities, label: "Where are you travelling to?" %>
          <%#= f.input :keyword, label: "Where are you travelling to?" %>

        </div>
        <div class="vertical-center">
        <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      <% end %>



    </div>
  </div>
  <div class="home-image"></div>
</div>
<script>


</script>
