
  .index-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
  }
.black-bordered-btn {
  border: solid 1px #BE4A66;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 12px !important;
}
.black-bordered-btn-two {
  border: solid 1px #BE4A66;
  padding: 12px 24px;
  background-color: #BE4A66;
  font-size: 16px;
  border-radius: 12px !important;
  color: white;
}

