
  .index-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
  }
.black-bordered-btn {
  border: solid 1px #BE4A66;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 12px !important;
}
.black-bordered-btn-two {
  border: solid 1px #BE4A66;
  padding: 12px 24px;
  background-color: #BE4A66;
  font-size: 16px;
  border-radius: 12px !important;
  color: white;
}

.button-pink {
  background-color: $pink;
  color: white;
  border-radius: 12px;
  padding: 8px 24px;

}

.button-ghost {
  background-color: white;
  color: $pink;
  border-radius: 12px;
  border: solid 1px $pink;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
}

.button-wide {
  width: 100%;
}

a:hover {
 text-decoration: none;
}


