
  .index-buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
  }
.black-bordered-btn {
  border: solid 1px #49A04E;;
  padding: 6px 12px;
}
.black-bordered-btn-two {
  border: solid 1px #49A04E;;
  padding: 6px 12px;
  background-color: #49A04E;
}

.button-pink {
  background-color: $pink;
  color: white;
  border-radius: 12px;
  padding: 8px 24px;

}

.button-ghost {
  background-color: white;
  color: $pink;
  border-radius: 12px;
  border: solid 1px $pink;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
}

.button-wide {
  width: 100%;
}



