
  .card-facility {
    border-radius: 6px;
    background: transparent;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 10px 10px 30px 10px;
    padding-bottom: 10px;

    img {
      height: 160px;
      width: 100%;
      object-fit: cover;
    }
    a {
      text-decoration: none;
    }
    li {
      color: black;
    }
  }

  .card-rating {
    // margin-top: -62px;
    p {
      // padding-left: 236px;
      color: black;
      text-decoration: none;
    }
  }

.card-facility-content {
  line-height: 12pt;
  padding: 15px;
  align-items: flex-end;
  ul {
    padding: 0;
    padding-left: 14px;
  }
  li {
     list-style-type: none;
     // text-indent: -25px;
  }
  h6 {
    font-weight: bolder;
    font-size: 17px;
    color: #BE4A66;
  }
}

.card-facility h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-facility p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-facility-rating {
  // padding-left: 235px;
}

.with-distance {
  display: flex;
  justify-content: space-between;
}

  .card-profile-facility {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    background: transparent;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 8px;
    margin-bottom: 8px;

    .profile-card-info {
    flex-grow: 1;
    }
    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      flex-grow: 1;
    }
    p {
      opacity: 0.7;
    }
    .fa-trash {
      color: $pink;
    }
  }


      .card-profile-review {
      border-radius: 6px;
      background: transparent;
      overflow: hidden;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      padding: 8px;
      margin-bottom: 8px;

      p {
        opacity: 0.7;
      }

}

  .cat-icon-card {
    height: 30px !important;
    width: 30px !important;
    margin-top: 15px;
  }

.icon-review {
  display: flex;
  justify-content: space-between;
}
