  .banner-photo {
    background-color: $alabaster;
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

  }
  .card-facility {
    border-radius: 6px;
    background: transparent;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 10px;
    padding-bottom: 10px;

    img {
      height: 160px;
      width: 100%;
      object-fit: cover;
    }
  }

.card-facility-content {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  ul {
    padding: 0;
    padding-left: 14px;
  }
  li {
     list-style-type: none;
     // text-indent: -25px;
  }
  a {
    font-weight: bolder;
    color: #BE4A66;
  }
}

.card-facility h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-facility p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-facility-rating {
  padding-left: 275px;
  margin-top: -40px;
}

.with-distance {
  display: flex;
  justify-content: space-between;
}
