// .banner-photo {
//   position: relative;
// }

.index-footer {
  position: sticky;
  bottom: 0;
  display:flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 6px;
  border-top: .5px solid $light-gray;
  p {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 0px !important;
  }
}

.cat-icon {
  height: 45px;
  padding-left: 3px;
  opacity: .9;
}

.cat-icon.selected {
  border-bottom: 1px solid #BE4A66;
}

.hidden {
  opacity: 0;
}
