// .banner-photo {
//   position: relative;
// }

.index-footer {
  // background-color: white;
  // position: absolute;
  // top: 620px;

  position: sticky;
  bottom: 0;
  display:flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 6px;
  border-top: .5px solid $light-gray;
}

.cat-icon {
  height: 50px;
  padding-left: 3px;
  opacity: .9;
  &:hover {
    background-color: $pink;
    opacity: .3;
    border-radius: 50%;
  }
}

.selected {
  box-shadow: 0 8px 6px -6px black;
  opacity: .7;
}

.hidden {
  opacity: 0;
}
