.fa-heart {
  color: $pink;
  font-size: 25px;
  a {
  text-decoration: none;

  }


  // &:hover {
  // text-decoration: none;
  // font-size: 22px;
  // color: $pink;
  // opacity: 0.8;
  // }
}
.heart_unchecked {
  color: $pink;
  font-size: 25px;
  a {
  text-decoration: none;

  }
  // &:hover {
  // font-size: 22px;
  // text-decoration: none;
  // color: $green;
  // opacity: 0.8;
  // }

}





