.card-facility {
  margin: 20px 20px 20px 20px;
  display: flex;
  .textetc{
background-color: white;
display: flex;
height: 90px;
display: flex;
}
.image-space {
  background-color: gray;
  width: 88px;
  height: 90px;
}
}
