.burger {
  text-decoration: none;
  list-style-type: none;
  z-index: 2;
}

.icon {
  width: 50px;
  height: 50px;
}


.container-nav {
  display: inline;
}

.slidepage {
  padding-top: 20px;
  text-align: start;
  a {
    color: #9E9E9E;
    text-decoration: none;
  }
  li {
    border-bottom: .7px solid #9E9E9E;
  }

}

.logout {
  padding-left: 105px;
  padding-top: 40px;
  a {
    color: #9E9E9E;
  }
}

.slide-content {
  text-align: center;
  li {
    padding-top: 20px;
    margin-left: 20px;
    list-style-type: none;
  }
  // img {
  //   height: 100px;
  //   width: 100px;
  //   border-radius: 50%;
  // }
  h3 {
    opacity: .8;
    padding-left: 60px;
    padding-top: 100px;
  }
  p {
    padding: 12px;
    background-color: $pink;
    border-radius: 12px;
    margin-left: 60px;
    margin-top: 200px;
    a {
      color: $white;
    }
  }
  h5 {
    color: #363636;
    font-weight: bolder;
  }
  .user-firstname {
    font-size: 24px;
  }
}


.body {
  width: 100%;
  height: 100%;
}

.with-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fa-home {
    color: $pink;
    font-size: 25px;
    padding-right: 10px;
    opacity: .9;
  }
}

#panel {
  height: 100vh;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

#closeSlideOut {
  width: 100%;
  height: 50px;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
