.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.remove_text_decoration {
  color: black;
}
.all-share-your-tip {
  .container{
    padding: 30px;

  }
  .black-bordered-btn{
    margin: 10px 10px 0px 0px;
  }
  .black-bordered-btn-two {
    margin: 10px 0px 0px 0px;
  }
}

.facilities-buttons {
  display: flex;
}


.add-city {
  display: flex;
  justify-content: space-between;

}
