<div>
<div>
  <h3>What city would you like to add?</h3>
</div>
    <%= simple_form_for(@city) do |f| %>
      <%= f.input :name, label: "What city would you like to add?" %>
      <%= f.input :country_city, label: "What country would you like to add?" %>
    <%= f.submit "Add your city!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
